<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.banma.mapper.Banma_Process_task_logMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.test.banma.domain.Banma_Process_task_logEntity">
        <id column="id" property="id" />
        <result column="taskId" property="taskId" />
        <result column="taskState" property="taskState" />
        <result column="memo" property="memo" />
        <result column="userId" property="userId" />
        <result column="userName" property="userName" />
        <result column="deptId" property="deptId" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="applyId" property="applyId" />
        <result column="assignee" property="assignee" />
        <result column="assigneeNames" property="assigneeNames" />
        <result column="cc" property="cc" />
        <result column="ccType" property="ccType" />
        <result column="ccNames" property="ccNames" />
        <result column="param1" property="param1" />
        <result column="param2" property="param2" />
        <result column="param3" property="param3" />
        <result column="sort" property="sort" />
        <result column="taskSort" property="taskSort" />
        <result column="rollbackTaskId" property="rollbackTaskId" />
    </resultMap>

</mapper>
